p{
    color: red;
    background-color: grey;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color: steelblue;
    background-color: grey;
    font-family:'Courier New', Courier, monospace;
}