body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#orange-header{
    color: orange;
}
.common-section-style{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.resume-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.info-card{
    width: 44%;
    margin: 0 3%;
    padding-top: 0;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
.info-card h3{
    color: orange;
}
#ex-card1{
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#ex-card2{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
